## Exercício 03 – Manipulando dados com Pandas

a) Crie um programa em pandas para ler o arquivo em Excel vendas.xlsx e

b) coloque em um dataframe.

In [2]:
from lib2to3.pgen2.pgen import DFAState
import pandas as pd

caminho = 'C:\\Users\\FIC\Documents\\Henrique-Rodrigues\\003 - Arquivos\\'
arquivo = 'Vendas.xlsx'

df = pd.read_excel(caminho + arquivo, sheet_name= 'Planilha1')

c) Visualize o cabeçalho dos dados;

In [7]:
df.head()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
0,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AL,3276.20
1,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AP,3005.86
2,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MA,8568.54
3,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MG,1344.27
4,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MS,7585.04

d) Visualize as últimas linhas;

In [12]:
df.tail()

,Data,Vendedor,Cargo,Cliente,UF,Vendas
130461,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PI,1829.39
130462,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PR,2378.48
130463,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RO,4488.47
130464,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RR,1543.66
130465,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,SC,9820.71

e) Escreva um programa para renomear o cabeçalho da tabela com os seguintes nomes:

In [8]:
df.columns= ['Data', 'Vendedor','Cargo','Cliente',
             'UF', 'Vendas']
df.head()

        Data           Vendedor                    Cargo Cliente  UF   Vendas
0 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  AL  3276.20
1 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  AP  3005.86
2 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  MA  8568.54
3 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  MG  1344.27
4 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  MS  7585.04

g) Quais são os tipos de dados que temos no dataframe?

h) Há valores faltantes ou nulos?

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130466 entries, 0 to 130465
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Data      130466 non-null  datetime64[ns]
 1   Vendedor  130466 non-null  object
 2   Cargo     130466 non-null  object
 3   Cliente   130466 non-null  object
 4   UF        130466 non-null  object
 5   Vendas    130466 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 6.0+ MB

h) Há valores faltantes ou nulos?

In [26]:

df['Vendas'].isnull().sum()

0

i) Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.

In [11]:
print('A soma é : ', df['Vendas'].sum())

print('A Média é : ', df['Vendas'].mean())

print('O valor máximo é : ', df['Vendas'].max())

print('O valor mínimo é : ', df['Vendas'].min())

print('A contagem todal da coluna ', df['Vendas'].count())

A soma é :  718501609.25
A Média é :  5507.194282418408
O valor máximo é :  10000.0
O valor mínimo é :  1000.01
A contagem todal da coluna  130466

j) Crie um programa para criar um dataframe para mostrar as vendas por cargo, e
salvar um arquivo em csv para com o nome de cada cargo:

In [18]:
# Filtrar DataFrame - Supervisor
df_Supervisor = df[df['Cargo']== 'Supervisor de Vendas Pl']

# Nome do arquivo
pasta_destino = 'C:\\Users\\FIC\\Documents\\Henrique-Rodrigues\\003 - Arquivos\\Cargos - vendas\\'
nome_arquivo = 'Supervisor.csv'

# Salva/ Gerar um arquivo em csv
df_Supervisor.to_csv( pasta_destino + nome_arquivo)

In [19]:
# Filtrar DataFrame 
df_Gerente_Regional = df[df['Cargo']== 'Gerente Regional Jr.']

# Nome do arquivo
pasta_destino = 'C:\\Users\\FIC\\Documents\\Henrique-Rodrigues\\003 - Arquivos\\Cargos - vendas\\'
nome_arquivo = 'Gerente_Reg.csv'


# Salva/ Gerar um arquivo em csvs
df_Gerente_Regional.to_csv(pasta_destino + nome_arquivo)

In [20]:
# Filtrar DataFrame -
df_Supervisor_Sr = df[df['Cargo']== 'Supervisor de Vendas Sr']

# Nome do arquivo
pasta_destino = 'C:\\Users\\FIC\\Documents\\Henrique-Rodrigues\\003 - Arquivos\\Cargos - vendas\\'
nome_arquivo = 'Supervisor_Sr.csv'

# Salva/ Gerar um arquivo em csv
df_Supervisor_Sr.to_csv(pasta_destino + nome_arquivo)

In [37]:
# Filtrar DataFrame 
df_Coordenador_Pl = df[df['Cargo']== 'Coordenador de Vendas Pl.']

# Nome do arquivo
pasta_destino = 'C:\\Users\\FIC\\Documents\\Henrique-Rodrigues\\003 - Arquivos\\Cargos - vendas\\'
nome_arquivo = 'Coordenador_Pl.csv'

# Salva/ Gerar um arquivo em cvs
df_Coordenador_Pl.to_csv(pasta_destino + nome_arquivo)

In [30]:
# Filtrar DataFrame 
df_Vendedor_Jr = df[df['Cargo']== 'Vendedor Jr.']

# Nome do arquivo
pasta_destino = 'C:\\Users\\FIC\\Documents\\Henrique-Rodrigues\\003 - Arquivos\\Cargos - vendas\\'
nome_arquivo = 'Vendedor_Jr.csv'

# Salva/ Gerar um arquivo em cvs
df_Vendedor_Jr.to_csv(pasta_destino + nome_arquivo)

In [31]:
# Filtrar DataFrame 
df_Vendedor_Sr = df[df['Cargo']== 'Vendedor Sr.']

# Nome do arquivo
pasta_destino = 'C:\\Users\\FIC\\Documents\\Henrique-Rodrigues\\003 - Arquivos\\Cargos - vendas\\'
nome_arquivo = 'Vendedor_Sr.csv'

# Salva/ Gerar um arquivo em cvs
df_Vendedor_Sr.to_csv(pasta_destino + nome_arquivo)

In [32]:
# Filtrar DataFrame 
df_Vendedor_Pl = df[df['Cargo']== 'Vendedor Pl.']

# Nome do arquivo
pasta_destino = 'C:\\Users\\FIC\\Documents\\Henrique-Rodrigues\\003 - Arquivos\\Cargos - vendas\\'
nome_arquivo = 'Vendedor_Pl.csv'

# Salva/ Gerar um arquivo em cvs
df_Vendedor_Pl.to_csv(pasta_destino + nome_arquivo)

In [33]:
# Filtrar DataFrame 
df_Gerente_Pl = df[df['Cargo']== 'Gerente Regional Pl.']

# Nome do arquivo
pasta_destino = 'C:\\Users\\FIC\\Documents\\Henrique-Rodrigues\\003 - Arquivos\\Cargos - vendas\\'
nome_arquivo = 'Gerente_Pl.csv'

# Salva/ Gerar um arquivo em cvs
df_Gerente_Pl.to_csv(pasta_destino + nome_arquivo)

In [36]:
# Filtrar DataFrame 
df_Cordenador_Sr = df[df['Cargo']== 'Coordenador de Vendas Sr.']

# Nome do arquivo
pasta_destino = 'C:\\Users\\FIC\\Documents\\Henrique-Rodrigues\\003 - Arquivos\\Cargos - vendas\\'
nome_arquivo = 'Coordenador_Sr.csv'

# Salva/ Gerar um arquivo em cvs
df_Cordenador_Sr.to_csv(pasta_destino + nome_arquivo)

In [35]:
# Filtrar DataFrame 
df_Coordenador_Jr = df[df['Cargo']== 'Coordenador de Vendas Jr.']

# Nome do arquivo
pasta_destino = 'C:\\Users\\FIC\\Documents\\Henrique-Rodrigues\\003 - Arquivos\\Cargos - vendas\\'
nome_arquivo = 'Coordenador_Jr.csv'

# Salva/ Gerar um arquivo em cvs
df_Coordenador_Jr.to_csv(pasta_destino + nome_arquivo)

In [38]:
# Filtrar DataFrame 
df_Supervisor_Jr = df[df['Cargo']== 'Supervisor de Vendas Jr.']

# Nome do arquivo
pasta_destino = 'C:\\Users\\FIC\\Documents\\Henrique-Rodrigues\\003 - Arquivos\\Cargos - vendas\\'
nome_arquivo = 'Supervisor_Jr.csv'

# Salva/ Gerar um arquivo em cvs
df_Supervisor_Jr.to_csv(pasta_destino + nome_arquivo)

9. Crie um dataframe para cada coluna, contendo dados únicos.

In [44]:
# Criar um dataframe apenas com a coluna Cargo
dados_cargos = df['Cargo']

#Contar quantos elementos existem antes de remover as duplicadas
dados_cargos.count()

# Criar um novo dataframe sem duplicadas
dados_cargos = dados_cargos.drop_duplicates()

# Contar quantos elementos ficaram apos remoção das dplicadas
dados_cargos.count()

dados_cargos

0        Supervisor de Vendas Pl
11          Gerente Regional Jr.
37       Supervisor de Vendas Sr
48     Coordenador de Vendas Pl.
98                  Vendedor Jr.
162                 Vendedor Sr.
174                 Vendedor Pl.
186         Gerente Regional Pl.
276    Coordenador de Vendas Sr.
285    Coordenador de Vendas Jr.
436     Supervisor de Vendas Jr.
Name: Cargo, dtype: object